@font-face {
  font-family: 'Nova Klasse';
  src: url('./assets/fonts/nova-klasse-font/novaklasse-semibold-BF65f32c1d1314a.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Nova Klasse';
  src: url('./assets/fonts/nova-klasse-font/novaklasse-semibdoblique-BF65f32c1d466fc.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Header */

.banner-wrap {
  background-image: url(./assets/images/abdullah.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  border-bottom: 10px solid #222222;
  position: relative;
  z-index: 1;
}

.overlay {
  z-index: -1;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 50%;
  position: absolute;
  top: 0;
}

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.scrolling {
  background: black;
  opacity: 90%;
  transition: all 1s;
}

h1 {
  font-family: Nova Klasse;
  /* font-size: 10px; */
}

#role-subheading {
  font-family: Nunito;
}